.item {
    padding-top: 14px;
    padding-left: 20px;
    height: 71px ;
    display: block;
}

.item img {
    border-radius: 50%;
}

.item:hover {
    background-color: #e7e8ec;
}

.box {
    display: flex;
}

.clearfix:after {
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.imgBlock {
    padding-right: 14px;
}

.messageBlock {
    width: 100%;
}

.messageBlock button {
    display: none;
    padding: 0;
    float: right;
    border-width: 0;
    margin-left: 25px;
}

.item:hover .messageBlock button {
    display: block;
}

.imgBlock img {
    border-radius: 50%
}

.name {
    float: left;
}

.time {
    float: right;
    color: #777e8c;
}

.smallImgBlock {
    display: inline-block;
}

.smallImgBlock img {
    height: 25px;
    width: 25px;
}

